################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TheCompiler/Compiler.Lexical/.vs/Compiler.Lexical/FileContentIndex
/TheCompiler/Compiler.Lexical/obj
/InterpreterInCSharp/Intepreter.Lexical/Intepreter.Lexical/obj
/InterpreterInCSharp/Intepreter.Lexical/.vs/Intepreter.Lexical/FileContentIndex
/InterpreterInCSharp/Intepreter.Lexical/.vs/Intepreter/v17
/InterpreterInCSharp/Interpreter.Lexical.Tests/bin/Debug/net8.0
/InterpreterInCSharp/Interpreter.Lexical.Tests/obj
/InterpreterInCSharp/Intepreter.Lexical/Intepreter.Lexical/bin/Debug/net8.0
