################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TheCompiler/Compiler.Lexical/.vs/Compiler.Lexical/FileContentIndex
/TheCompiler/Compiler.Lexical/obj
